__pycache__/
.venv
.env
.env_old
.evn.local
.db
.data
.chroma
.chromadb
.pgdata
.svelte-kit
docs
docker/volumes/
pg-data
.DS_Store
scratch.py
vector.db
vector_deeplake.db
node_modules
virtualenvs
tmp
data
